{% load widget_tweaks %}
{% with WIDGET_ERROR_CLASS='is-invalid' %}
<form hx-post="{% url 'detail_cycles' pk=cycle.pk %}" 
      hx-target="this" 
      hx-swap="outerHTML"
      hx-headers='{"X-CSRFToken":"{{ csrf_token }}"}' >
    <div class ="row">
 
        <div class="col"></div>

        <!-- <div class = "col-4 col-md-3 text-center"> -->
        <div class = "col text-center">
            {{ cycle.id }}
        </div>

        <!-- <div class = "col-4 col-md-3 text-center"> -->
        <div class = "col text-center">
            <input type="text" class="form-control" name="nom_cycles" value="{{ cycle.nom_cycles }}">
            <div class="invalid-feedback">{{ form.nom_cycles.errors|first }}</div>
        </div>
 

        <!-- <div class= "col-3 align-self-end"> -->
        <div class = "col align-self-end">
            <button class="btn btn-primary btn-sm" >Enregister</button>
            <button type="button" 
                    class="btn btn-danger btn-sm"
                    
                    hx-get="{% url 'detail_cycles' pk=cycle.pk %}"
            >Fermer</button>
        </div>

        <div class="col"></div>
        <hr>
    </div>
</form>
{% endwith %}