{% load static %}
<div hx-target="this" class="container-fluid" >
    <table class="table table-bordered" id="product-list">
        <colgroup>
            <col width="5%">
            <col width="15%">
            <col width="15%">
            <col width="35%">
            <col width="10%">
            <col width="10%">
            <col width="10%">
        </colgroup> 
        <thead>
            <tr class="bg-gradient bg-primary bg-opacity-50 text-light">
                <th class="px-2 py-2 text-center">No Semaime</th>
                <th class="px-2 py-2 text-center">Semaines</th>
                <th class="px-2 py-2 text-center">Chapitres</th>
                <th class="px-2 py-2 text-center">Contenus Lecons</th>
                
                <th class="px-2 py-2 text-center">Vol.H.P.</th>
                <th class="px-2 py-2 text-center">Statuts</th>
                <th class="px-2 py-2 text-center">Actions</th>
            </tr>
        </thead>
        
        <tbody hx-trigger=" load, statutChanged from:body" 
        hx-get="{% url 'staff_progression_list' matieres.id %}" 
        hx-target="this">

        <td class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </td>
            <!-- fin entete liste -->
            
           </tbody> 
    </table>   
</div> 