
<div class="form-group">
    <label>Classe </label>
    <select class="form-control" name="classe" id="classe" 
    hx-get="{% url 'modules_prof_and_mat_name' %}" 
    hx-trigger="change" 
    hx-target="#modules_prof_and_mat_name" required>
        <option value="">--Classe--</option>
        {% for matiere in matieres %}
            <option value="{{ matiere.classes_id_id}}">{{ matiere.classes_id.nom_classes }} {{ anneescolaire }}</option>
        {% endfor %}
    </select>
    <input type="hidden" name="annee_scolaire_id" id="annee_scolaire_id" value="{{ anneescolaire }}" />
</div>       
