 

<table class="table table-bordered" >
   
    <thead>
        <tr class="bg-gradient bg-primary bg-opacity-50 text-light">
            <th class="px-2 py-2 text-center">No</th>
            <th class="px-2 py-2 text-center">classes</th>
            <th class="px-2 py-2 text-center">Nom du professeur</th>
            <th class="px-2 py-2 text-center">Matiere </th>
            <!-- <th class="px-2 py-2 text-center">volume horaire du</th> -->
        </tr>
    </thead>   
    
    <tbody>
        {% for matiere in matieres %}
            <tr >
                <td class="px-2 py-1 align-middle">{{forloop.counter}} </td>
                <td class="px-2 py-1 align-middle">{{matiere.classes_id.nom_classes	}} </td>
                <td class="px-2 py-1 align-middle">{{matiere.professeurs_id.admin.last_name}} {{matiere.professeurs_id.admin.first_name}}</td>
                <td class="px-2 py-1 align-middle">{{matiere.nom_matieres}}</td>
                <!-- <td class="px-2 py-1 align-middle">{{ hours }} H</td> -->
            </tr>
        {% endfor %}
    </tbody> 
</table>  

<table class="table table-bordered" >
  
    <thead>
        <tr class="bg-gradient bg-primary bg-opacity-50 text-light">
        <th class="px-2 py-2 text-center">No</th> 
        <th class="px-2 py-2 text-center">Matieres</th>
        {% for classe in class_dict %}
        <th class="px-2 py-2 text-center">{{classe}}</th>
        {% endfor%}
        </tr>
        
    </thead>
    <tbody>
        {% for row in mat_list %} 
        <tr>
            <th>{{ forloop.counter }}</th>
            <th>{{ row.0 }}</th>
            {% for class in row.1 %}
               <td>{{ class }}</td>
            {% endfor %}
            </tr>
         {% endfor %}
            
    </tbody>
</table>