<div class="form-group">
    <label>Classe </label>
    <select class="form-control" name="classe" id="classe" 
    hx-get="{% url 'modules_matiere_name_admin' %}" 
    hx-trigger="change" 
    hx-target="#modules_matiere_name_admin" required>
        <option value="">--Classe--</option> <!-- A corriger  pour page suivre la progression-->
        {% for matiere in matieres %}
            <option value="{{ classe.id }}">{{ matiere.nom_matieres	 }}</option>
        {% endfor %}
    </select>
</div>  