{% for classe in classes %}
                                <tr>
                                    <td>{{forloop.counter}}</td>
                                    <td>{{ classe.nom_classes }}</td>
                                    <td>{{ classe.niveaux_id.nom_niveaux }}</td>
                                    <td>
                                        <a href="{% url 'editer_classes' classe.id %}"
                                            class="btn btn-success">Editer</a>
                                        {%comment%}<!-- <a href="{% url 'supprimer_classes' classe.id %}"
                                            class="btn btn-danger">Supprimer</a> -->{%endcomment%}

                                        <button type="button" class="btn btn-danger" 
                                        hx-delete="{% url 'supprimer_classes' classe.id %}"
                                        hx-trigger='confirmed' 
                                        onClick="Swal.fire({title: 'Confirmation', 
                                        text:'Voulez-vous supprimer {{ classe.nom_classes }} ? Cette action supprimera les cours de cette classe.',
                                        type: 'warning',
                                        showCancelButton: true,  
                                        confirmButtonColor: '#DD6B55',
                                        confirmButtonText: 'Oui',
                                        cancelButtonText:  'Annuler',
                                        closeOnConfirm: true, 
                                        allowOutsideClick: false    
                                        }
                                        ).then((result)=>{ if(result.isConfirmed){ htmx.trigger(this, 'confirmed'); } })"
                                        hx-target="#admin_results_classes">
                                        Supprimer 
                                    </button>  
                                    </td>
                                </tr>
                                {% endfor %}
