<form 
hx-post="{% url 'modules_repart_tache_admin_home'  %}" 
hx-headers='{"X-CSRFToken":"{{ csrf_token }}"}' 
hx-target="#modules_repart_tache_admin_home"
hx-trigger="click from:#fetch_repartition" 
hx-on::afterRequest="this.remove()">
<div class="form-group">
  <label>Annee scolaire </label>
  <select class="form-control" name="anneescolaire" id="anneescolaire"  required>
      <option value="">--Annee scolaire--</option>
      {% for anneescolaire in anneescolaires %}
          <option value="{{ anneescolaire.id }}">{{ anneescolaire.session_start_year }} - {{ anneescolaire.session_end_year }}</option>
      {% endfor %}
  </select>
</div>  

<div class="form-group">
    <label>Cycle </label>
    <select class="form-control" name="cycle" id="cycle"  required>
        <option value="">--Cycle--</option>
        {% for cycle in cycles %}
            <option value="{{ cycle.id }}">{{ cycle.nom_cycles }} </option>
        {% endfor %}
    </select>
</div>
</form>