{% for result in results %}
 
                                <tr>
                                <td>{{ result.id }}</td>
                                <td>{{ result.first_name }}</td>
                                <td>{{ result.last_name }}</td>
                                <td>{{ result.username }}</td>
                                <td>{{ result.email }}</td> 
                                
                                <td>{{ result.staffs.address }}</td>
                                <td>{{ result.staffs.annee_scolaire_id.session_start_year }} {{ result.staffs.annee_scolaire_id.session_end_year }} </td>
                               
                                <td>{{ result.last_login }}</td>
                                <td>{{ result.date_joined }}</td>
                                <td>
                                    <a href="{% url 'editer_professeurs' result.id %}" class="btn btn-success">Editer</a> 
                                    <button type="button" class="btn btn-danger" 
                                    hx-delete="{% url 'supprimer_professeurs' result.id %}"
                                    hx-trigger='confirmed'
                                    onClick="Swal.fire({title: 'Confirmation', 
                                        text:'Voulez-vous supprimer {{ result.first_name }} {{ result.last_name }} ? Cette action supprimera le contenu de sa progression.',
                                        type: 'warning', 
                                        showCancelButton: true,
                                        confirmButtonColor: '#DD6B55',
                                        confirmButtonText: 'Oui',
                                        cancelButtonText:  'Annuler',
                                        closeOnConfirm: true,
                                        allowOutsideClick: false    
                                        }
                                        ).then((result)=>{ if(result.isConfirmed){ htmx.trigger(this, 'confirmed'); } })"
                    hx-target="#admin_results_professeurs">
                    Supprimer 
            </button>  
                                </td>
                                </tr>
               
{% endfor %} 
                                