{% extends 'hod_template/base_template.html' %}

{% block page_title %}
Les annees scolaires
{% endblock page_title %}

{% block main_content %}

{% load static %}
 
<section class="content">
    <div class="container-fluid">

        <!-- <a class="btn btn-primary" href="" role="button">+ Creer niveau</a> <br />&nbsp; -->

        {% if messages %}
        <div class="form-group">
            <div class="col-12">
                {% for message in messages %}
                {% if message.tags == "error" %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% elif message.tags == "success" %}
                <div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
        {% endif %}

        <div class="row">
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Details des annees scolaires</h3>

                        <div class="card-tools">
                            <div class="input-group input-group-sm" style="width: 150px;">
                                <div style="text-align: center;"> <i class="fa fa-search" ></i></div>
                                <input type="text" name="q" class="form-control float-right" placeholder="annee"
                                hx-get="/recap_search_annees/"
                                hx-trigger = "keyup changed delay:5ms"
                                hx-target="#recap_results_annees"> 
                            </div>
                        </div>
                           
                        
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body table-responsive p-0">
                        <table class="table table-hover text-nowrap">
                            <thead>
                                <tr>
                                    <th>Num</th>
                                    <th>Debut</th>
                                    <th>Fin</th>
                                </tr>
                            </thead>
                            <tbody id="recap_results_annees">
                                {% for annee in annees %}
                                <tr>
                                    <td>{{forloop.counter}}</td>
                                    <td>{{ annee.session_start_year }}</td>
                                    <td>{{ annee.session_end_year }}</td>
                                    
                                </tr>
                                {% endfor %}

                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->

            </div>
        </div>

    </div><!-- /.container-fluid -->
</section>
<!-- search security-->
<script>
    document.body.addEventListener('htmx:configRequest', (event) => {
      event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
    })
  </script> 
{% endblock main_content %}