{% for result in results %}
                                <tr>
                                    <td>{{forloop.counter}}</td>
                                    <td>{{ result.session_start_year }}</td>
                                    <!--<td>{{ niveau.created_at }}</td>
                                    <td>{{ niveau.updated_at }}</td> -->
                                    <td>
                                        {{ result.session_end_year }} 
                                    </td>
                                </tr>
                                {% endfor %}