{% for result in results %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ result.nom_matieres.nom_disciplines }}</td>
                                    <!--<td>{{ niveau.created_at }}</td>
                                    <td>{{ niveau.updated_at }}</td> -->
                                    <td>{{ result.classes_id.nom_classes }}</td>
                                    <td>{{ result.professeurs_id.admin.first_name }} {{ result.professeurs_id.admin.last_name }}</td>
                                    <td>{{ result.professeurs_id.annee_scolaire_id.session_start_year }} - {{result.professeurs_id.annee_scolaire_id.session_end_year }}</td>
                                    
                                </tr>  
                                {% endfor %}