{% extends 'hod_template/base_template.html' %}

{% block page_title %}
Gerer les classes
{% endblock page_title %}

{% block main_content %}

{% load static %}

<section class="content">
    <div class="container-fluid">

        <a class="btn btn-primary" href="{% url 'creer_classes' %}" role="button">+ Creer une classe</a> <br />&nbsp;

        {% if messages %}
        <div class="form-group">
            <div class="col-12">
                {% for message in messages %}
                {% if message.tags == "error" %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% elif message.tags == "success" %}
                <div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
        {% endif %}

        <div class="row">
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Details des classes</h3>
                        <div class="card-tools">
                            <div class="input-group input-group-sm" style="width: 150px;">
                                <div style="text-align: center;"> <i class="fa fa-search" ></i></div>
                                <input type="text" name="q" class="form-control float-right" placeholder="classe"
                                hx-get="/admin_search_classes/"
                                hx-trigger = "keyup changed delay:5ms"
                                hx-target="#admin_results_classes"> 
                            </div>
                        </div>

                        <!-- <div class="card-tools">
                            <div class="input-group input-group-sm" style="width: 150px;">
                                <input type="text" name="table_search" class="form-control float-right"
                                    placeholder="Search">

                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                                </div>
                            </div>
                        </div> -->
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body table-responsive p-0">
                        <table class="table table-hover text-nowrap">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Classes</th>
                                    <th>Niveau</th>
                                    <!--<th>Staff</th>
                                    <th>Created At</th>
                                    <th>Updated At</th>-->
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody id="admin_results_classes">
                                {% for classe in classes %}
                                <tr>
                                    <td>{{forloop.counter}}</td>
                                    <td>{{ classe.nom_classes }}</td>
                                    <td>{{ classe.niveaux_id.nom_niveaux }}</td>
                                    <!--<td>{{ subject.staff_id.first_name }} {{ subject.staff_id.last_name }}</td>
                                    <td>{{ subject.created_at }}</td>
                                    <td>{{ subject.updated_at }}</td>-->
                                    <td>
                                        <a href="{% url 'editer_classes' classe.id %}"
                                            class="btn btn-success">Editer</a>
                                        <a href="{% url 'supprimer_classes' classe.id %}"
                                            class="btn btn-danger">Supprimer</a>
                                    </td>
                                </tr>
                                {% endfor %}

                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->

            </div>
        </div>

    </div><!-- /.container-fluid -->
</section>
<!-- search security-->
<script>
    document.body.addEventListener('htmx:configRequest', (event) => {
      event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
    })
  </script> 
{% endblock main_content %}